<div *ngIf="car" class="name">
  <h2>Car Details</h2>
  <p>ID :{{car.id}}</p>
  <p>name: {{car.Name}}</p>
  <p>model: {{car.Model}}</p>
  <p>Year : {{car.Year}}</p>
  <p>Make : {{car.Make}}</p>
  <p>Color: {{car.Color}}</p>
  <p>isAdmin: {{car.isAdmin}}</p>
  <button (click)="goBackward()" [disabled]="currentIndex=== 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex=== carList.length -1 ">Next</button>
  <button (click)="goBack()">Back to Student list</button>
</div>

