:host {
  display: block;
  padding: 20px;
  background-color: white;
}

h2 {
  text-align: center;
  color: black;
  font-size: 26px;
  margin-bottom: 20px;
}
.user-card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #333333;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 14px rgba(20%,30% ,60%,40%);
  transition: box-shadow 0.3s ease;
}

.user-card:hover {
  box-shadow: 0px 10px 14px rgba(1, 0, 0, 0.2);
}

h3 {
  font-size: 22px;
  color: mediumpurple;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: black;
  margin: 5px 0;
}

p *ngIf {
  font-weight: bold;
}
p:last-child {
  color: #333;
  font-weight: bold;
}
.user-card:nth-child(even) {
  background-color: #f9f9f9;
}
